*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 40rem;
    height: 40rem;
    border: .5rem solid black;
}

.cell {
    border: 0.2px solid #063B6D;
    font-size: 10rem;
    background-color: #d0ebff;
    color: #063B6D;
}

.hidden {
    display: none;
}
body {
    width: 100%;
    height: 100%;
    background-color: #a5d8ff;
    color: #495057;

}
.startPage {
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
    inset: 0;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.active {
    display: flex;

}
.header {
    font-size: 5rem;
    color: #063B6D;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;


}
.profiles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    gap: 3rem;


}
.profile {
    width: 40rem;
    height: 55rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.image {
    width: 36rem;
    height: 48rem;
}
.image > img {
    width: 100%;
    height: 100%;
}
.name {
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.name > label, input {
    font-size: 2rem;
}
.name > input {
    min-height: 3rcap;
    padding-left: 1rem;
}
.versus {
    font-size: 18rem;
    letter-spacing: unset;
    color: #063B6D;

}

.startBtn {
    width: 16rem;
    height: 6rem;
    font-size: 2.5rem;

}

.continue {
    font-size: 2rem;
    width: 10rem;
    height: 4rem;
}
.startBtn, .continue {
    border-radius: 1rem;
    font-size: large;
    background-color: #A86400;
    color: #FFC36C;
    border-color: #A86400;
    font-weight: 800;
    cursor: pointer;
}
.startBtn:hover, .continue:hover {
    background-color: #FFC36C;
    color: #A86400;
}
.gamepage {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 32rem;
    max-height: 80rem;
}
.scoreboard {
    width: 40rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.small {
    font-size: 2.5rem;
}
.player {
    display: flex;
    place-items: center;
}
.secondOne {
    flex-direction: row-reverse;

    
}
.card {
 width: 14rem;
 height: 4rem;
 font-size: 2.4rem;
}
.score, .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#063B6D;
}
.score {
    width: 4rem;
    height: 6rem;
    font-size: 4rem;
    color: white;
    background-color: #1864ab;
    justify-content: center;
    align-items: center;
}

.turn {
    width: 40rem;
    height: 3rem;
    font-size: 2.5rem;
    text-align: center;
    color: #432800;
    background-color: #dcc199;
    border: 1px solid #063B6D;
    margin-bottom: 1rem;
}
.result {
    width: 40rem;
    height: 40rem;
    position: absolute;
    border: 1px solid #063B6D;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1864ab;
    gap: 3rem;
    background-color: #d0ebff;
}
.roundResult {
    font-size: 3rem;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: #1864ab;
    box-shadow: .1rem .1rem .5rem 1rem #74c0fc;

}
.profile {
   
}

.profile:first-of-type > .name {
}
.name > label {
    color: #99ddf5;
    font-size: 2.6rem;
    font-weight: 900;
}
.name > input {
    border-radius: 1rem;
    min-height: 3rem;
    outline-color: #1864ab;
    background-color: #d0ebff;
    color: #495057;
}

.profile:last-of-type > .name {
}